@import controllers.auth.SignInController.SignInForm
@(
    navBar: NavBar,
    signInForm: Form[SignInForm]
)(
    implicit request: RequestHeader,
    messagesProvider: MessagesProvider
)

@main("Sign In") {
    @nav(navBar)
    <div class="container">
            <div class="jumbotron bg-white">
                <h2 class="text-center">Sign In</h2>
                <div class="container">
                    @b4.vertical.form(action = controllers.auth.routes.SignInController.post) { implicit vfc =>
                        @b4.inputType("text", signInForm("name"), '_label -> "Name", 'placeholder -> 'YourName)
                        @b4.password(signInForm("password"), '_label -> "Password", 'placeholder -> 'YourPassword)
                        @b4.submit('class -> "btn btn-primary"){ Sign in }
                    }
                </div>
            </div>
        </div>
    </div>
}