@(
    createTaskForm: Form[controllers.task.web.CreateTaskController.CreateTaskForm],
    err: Option[String]
)(
    implicit request: RequestHeader,
    messagesProvider: MessagesProvider
)

@main("Create Task") {
    @nav(showMenu = true)
    <div class="container mt-5">
        <div class="bg-white">
            <h2>Create New Task</h2>
            <div class="container mt-3">
            @err.map { err =>
                <div class="alert alert-danger alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>@err</strong>
                </div>
            }
            @b4.vertical.form(action = controllers.task.web.routes.CreateTaskController.createTask()) { implicit vfc =>
                @b4.inputType("text", createTaskForm("title"), '_label -> "Title", 'placeholder -> "Title")
                @b4.inputType("textarea", createTaskForm("description"), '_label -> "Description", 'placeholder -> "Description")
                @b4.datetimeLocal(createTaskForm("deadline"), '_label -> "Deadline")
                @b4.submit('class -> "btn btn-primary"){ Create }
            }
            </div>
        </div>
    </div>
}
