@import models.task.TaskId
@(
    taskId: TaskId,
    possibleStates: Seq[(String, String)],
    editTaskForm: Form[controllers.task.EditTaskController.EditTaskForm]
)(
    implicit request: RequestHeader,
    messagesProvider: MessagesProvider
)
    @import helper._

@main("Edit Task") {
    <h1>Edit Task</h1>
    @form(action = controllers.task.routes.EditTaskController.editTask(taskId.value)) {
        @inputText(editTaskForm("title"))
        @inputText(editTaskForm("description"))
        @select(editTaskForm("state"), possibleStates)
        <button type="submit" value="submit">submit</button>
    }
    @form(action = controllers.task.routes.DeleteTaskController.deleteTask(taskId.value)) {
        <button type="submit" value="submit">delete this task</button>
    }
}