@(tasks: Seq[models.task.Task])(implicit request: Request[AnyContent])

@main("Your tasks") {
    @nav(showMenu = true)
    <div class="container">
        <div class="row">
        @for(task <- tasks) {
            <div class="card mt-3" style="width: 100%">
                <div class="card-header">
                    <span class="w-100">@{task.title}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        onClick="location.href='@controllers.task.routes.EditTaskController.editTaskForm(task.id.value)'">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">
                    <p class="card-text border-primary">@{task.description}</p>
                    <div class="btn-group float-right" role="state" aria-label="state">
                        <button type="button" class="btn btn-primary">@{task.state}</button>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
}